
.App{
  text-align: center;
  padding: 5rem 0px;
}
button{
  /* position: relative; */
  /* transform: translate(-50%,-50%); */
  /* top: 50%; */
  /* left: 50%; */
  background-color: blue;
  color: white;
  padding: 10px 30px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: 7px;
  cursor: pointer;
}
p{
  font-weight: 700;
}